<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Em Processamento</title>
    <script>
        function checkStatus() {
            fetch("/check_status")
                .then(response => {
                    if (response.redirected) {
                        // Redireciona se o status indicar que o processamento está completo
                        window.location.href = response.url;
                    } else {
                        // Continua verificando o status
                        setTimeout(checkStatus, 2000);
                    }
                });
        }

        // Inicia a verificação do status
        checkStatus();
    </script>
</head>
<body>
    <h1>Em Processamento...</h1>
    <p>Estamos processando seus dados. Por favor, aguarde.</p>
</body>
</html>
